.card {
  width: 90%;
  padding: 4rem;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PageNotFound.css */
.page-not-found {
  text-align: center;
  margin-top: 100px;
}

.page-not-found h1 {
  font-size: 3rem;
  color: #333;
}

.page-not-found p {
  font-size: 1.2rem;
  color: #666;
}
